.balance-change {
  display: none;
}

.output {
  display: none;
}

#inner-container1 {
  border: 2px solid red;

}

#inner-container2 {
  border: 2px solid red;

}
body {
  background-image:url('https://subtlepatterns.com/patterns/pink_rice.png');
}
